/* blog previews / list */

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .blog-preview {
      padding: 10px 16px;
      margin: 20px 0;
      width: 80%;
      &:hover {
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
      }

      h2 {
        font-size: 20px;
        color: $blog-title-color;
        margin-bottom: 8px;
      }

      button {
        font-size: 14px;
        font-weight: 600;
        border: 1px solid $button-color;
        padding: 0.5em 1em;
        color: $button-color;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $button-color;
          color: white;
        }
      }
    }
  }
}
