.blog-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none;

    li {
      flex: 0 1 calc((100% - 9em) / 4);
      display: flex;
      flex-direction: column;

      padding: 2em 3em;
      background-color: $blog-bg;
      margin-bottom: 20px;

      h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 16px;
        font-weight: 500;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          border: 1px solid $button-color;
          background-color: $button-color;
          margin-top: 2em;
          padding: 1em 2em;
          color: $button-text-color;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $blog-bg;
            color: $button-color;
          }
        }
      }
    }
  }
}
