/* blog previews / list */

.blog {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(11, 7, 17) 0%,
    rgb(19, 4, 44) 40%,
    rgb(21, 5, 48) 50%,
    rgb(34, 8, 68) 100%
  );
  min-height: 100vh;
  .load,
  .error {
    color: white;
    font-size: 30px;
  }
  .blog-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;

    @media (max-width: 1550px) {
      width: 90%;
    }

    p {
      color: rgb(199, 199, 199);
      margin: 0;
      padding: 0.5em 0;
    }

    h2 {
      color: white;
      font-size: 45px;
      margin: 0;
      padding-bottom: 1em;
    }
  }
  .blog-list {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 60.5vh;
    background: rgb(46, 8, 106);
    background: linear-gradient(
      180deg,
      rgba(46, 8, 106, 0.15) 0%,
      rgba(26, 4, 59, 1) 29%,
      rgba(0, 0, 0, 1) 100%
    );

    .blog-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: left;
      align-content: center;
      gap: 30px;
      width: 70%;

      @media (max-width: 1550px) {
        width: 90%;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
      }

      @media (max-width: 900px) {
        width: 90%;
        grid-template-columns: repeat(1, auto);
        gap: 30px;
      }

      .blog-preview {
        padding: 15px 25px;
        background: rgba(74, 54, 99, 0.3);
        backdrop-filter: blur(0.625rem);
        border-radius: 0.625rem;
        display: block;
        max-width: 400px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: rgba(74, 54, 99, 0.5);
        }

        @media (max-width: 1550px) {
          max-width: 100%;
        }

        a {
          text-decoration: none;

          .category {
            background-color: #690afe;
            color: white;
            border-radius: 0.25rem;
            color: #fff;
            display: inline-block;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
            padding: 0.25rem 0.5rem;
          }
          h2 {
            font-size: 32px;
            color: white;
            margin-bottom: 8px;
          }

          p {
            font-size: 15px;
            color: rgb(199, 199, 199);
          }
        }

        button {
          font-size: 14px;
          font-weight: 600;
          border: 1px solid $button-color;
          padding: 0.5em 1em;
          color: $button-color;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $button-color;
            color: white;
          }
        }
      }
    }
  }
}
.blog-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .blog-header {
    background-image: url(../../../photos/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5vw;

    @media (max-width: 1550px) {
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 5vw;
    }

    @media (max-width: 900px) {
    }

    h2 {
      font-size: 65px;
      max-width: 1200px;
      color: white;
      margin-left: 10vw;
      margin-bottom: 2vw;

      @media (max-width: 1550px) {
        font-size: 55px;
        margin-right: 10vw;
      }

      @media (max-width: 900px) {
        font-size: 45px;
        margin-right: 10vw;
      }
    }
    .category {
      background-color: #690afe;
      color: white;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
      padding: 0.25rem 0.5rem;
      display: inline-block;
      width: fit-content;
      margin-left: 10vw;
      margin-top: 0;
    }
    p {
      font-size: 14px;
      color: white;
      margin-left: 10vw;
    }
  }
  .blog-body {
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div {
      margin-top: 20px;
      margin-bottom: 30px;
      color: black;
      line-height: 1.5em;
      font-size: 22px;
      text-align: justify;
    }
    .buttons {
      margin-top: 20px;
      margin-bottom: 100px;
      width: 30%;
      display: flex;
      flex-direction: row;
      gap: 20px;

      button {
        width: 100%;
        min-width: 100px;
        background: $button-color;
        color: #fff;
        border: 0;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
        align-self: center;
      }
    }
  }
}
