.edit-form {
  position: absolute;
  background-color: $blog-bg;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 80%;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;

    label {
      color: $text-color;
      text-align: left;
      display: block;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 6px 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      box-sizing: border-box;
      display: block;
    }
    textarea {
      height: 200px;
    }
    button {
      margin-top: 20px;
      width: 40%;
      background: $button-color;
      color: #fff;
      border: 0;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      align-self: center;
    }
  }
}
