.blog-filter {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;

  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
      border: 1px solid white;
      background-color: none;
      border-radius: 30px;
      padding-bottom: 5px;
      padding: 10px 30px;
      font-size: 18px;
      color: white;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 1px solid hsla(0, 0, 0, 0);
        background-color: hsla(46, 8, 106, 0.05);
      }
      &:focus {
        border: 1px solid hsla(0, 0, 0, 0);
        background-color: hsla(46, 8, 106, 0.09);
      }
    }
  }
}
