@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./_variables";
@import "./_navigation";
@import "./404";
@import "./blog";
@import "./create";
@import "./edit";
@import "./filter";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
